# Build output
[Bb]in/
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Ww]in32/
[Oo]ut/
build/

# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Compiled / linker artifacts
*.exe
*.dll
*.lib
*.obj
*.o
*.pdb
*.ilk
*.exp
*.idb
*.log
*.tlog
build/
